<%
const pageTitle = page.title ? `${page.title} - ${config.title}` : config.title;
%>

<head>
  <meta charset="UTF-8">
  <title><%=pageTitle%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
  <link rel='stylesheet' href='//fonts.googleapis.com/earlyaccess/kopubbatang.css'>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from _config.yml -->
    <% theme.stylesheets.forEach(url => { %>
      <%- css(url) %>
    <% }); %>
  <% } %>
</head>