<div id="pagination">
  <div class="pagination-btn">
    <% if (page.next) { %>
      <a class="previous" href="<%- url_for(page.next_link) %>"><div>&lt;&lt; Previous</div></a>
    <% } else { %>
      <div class="previous disabled">&lt;&lt; Previous</div>
    <% } %>
  </div>
  <div class="pagination-btn">
    <% if (page.prev) { %>
      <a class="next" href="<%- url_for(page.prev_link) %>"><div>Next &gt;&gt;</div></a>
    <% } else { %>
      <div class="next disabled">Next &gt;&gt;</div>
    <% } %>
  </div>
</div>