<div id="pagination">
  <div class="pagination-btn">
    <% if (page.next) { %>
      <a class="older" href="<%- url_for(page.next_link) %>"><div>Older</div></a>
    <% } else { %>
      <div class="older disabled">Older</div>
    <% } %>
  </div>
  <div class="pagination-btn">
    <% if (page.prev) { %>
      <a class="newer" href="<%- url_for(page.prev_link) %>"><div>Newer</div></a>
    <% } else { %>
      <div class="newer disabled">Newer</div>
    <% } %>
  </div>
</div>