#blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $max-width;
  overflow: hidden;
  padding: 0.5em 0em;
  margin: 0 auto;

  a {
    color: $base-text-color;

    &:hover {
        color: $brand-color;
        text-decoration: none;
    }
  }

  #blog-logo {
    background-size: contain;
    background-image: url('/logo.png');
    width: $blog-logo-size;
    height: $blog-logo-size;
  }

  #wheelspin {
    font-family: $sans-serif-family;
    font-size: 13px;
    text-transform: uppercase;
  }

  #blog-nav {
    font-size: 1.5em;

    a {
      color: $base-text-color;
      padding: 0.5em;

    div {
      display: inline-block;
      padding: 0.5em;
    }
  }
}