$sans-serif-family: 'Noto Sans KR', 나눔고딕, 'Nanum Gothic', 'Malgun Gothic', 맑은고딕, 굴림, 돋움, Dotum, sans-serif;
$serif-family: 'KoPub Batang', 'Batang', 바탕, serif;
$max-width: 800px;
$brand-color: #FFA200;
$base-text-color: #333;

$blog-logo-size: 50px;